.yellow{
    background-color: yellow;
    height: 50px;
    width: 200px;
}


.green{
    background-color: green;
    height: 50px;
    width: 200px;
}

.red{
    background-color: red;
    height: 50px;
    width: 200px;
}

.black{
    background-color:black;
    height: 50px;
    width: 200px;
}

.white{
    background-color: white;
    height: 50px;
    width: 200px;
}

    
    
