.page-wrapper{
    display: flex;
    gap: 20px;
}

.first{
    height: 200px;
    width: 200px;
    background-color: brown;
    order: 3;
}

.second{
    height: 200px;
    width: 200px;
    background-color: green;
    order: 2;
}
.third{
    height: 200px;
    width: 200px;
    background-color: rgb(95, 145, 160);
    order:1; /* o jeigu minus 1 tai bus default */
}