

body{
    background-color: aqua;
}
div{
    width:500px;
}

.box{
    background-color: tomato;
    height:100px;
}

.myapp{
    background-color: yellowgreen;
    height: 150px;
    width: 300px;
    color:  darkolivegreen;
}
.word{
background-color: rgb(17, 76, 17);
color: white;
}

#square{
    width: 200px;
    height:200px;
    border: 3px blue solid;
}
#paragraph{
    background-color: green;

}
.paragraph{
    background-color: red;
}
.ccc{
    background-color: brown;
}

.ddd {
    background-color: brown;
    background-color: white;
}

.username{
background: fixed;
}

.greeting{
    font-weight: 900;
}

.image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border:3px solid red;
}