.wrapper{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 16px;
    outline: none;
    margin: auto;
}

body{
    background-color: rgb(210, 212, 213);
}
input{
    padding: 4px 8px;
    border: none;
    border-bottom: 2px solid rgb(95, 91, 91);
    outline: none;
    background-color: transparent;
}

.page-title{
    text-align: center;
}
.register-button{
    width: 100px;
    align-self: center;
    all:unset;
    background-color: rgb(94, 90, 90);
    cursor: pointer;
    text-align:center;
    padding: 4px 8px;
    color: white;
    border-radius: 6px;
}